.floating-contact {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  transition: background-color 0.2s ease;
  z-index: 1000;

  .circle-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
    padding-top: 4px;
    cursor: pointer;

    .avatar-img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      margin-left: 4px;
      border: 4px;
      border-color: #fff;
    }

    .contact-me {
      margin-right: 64px;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      white-space: nowrap;
    }
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .contact-header {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: flex-start;
      user-select: none;

      .avatar-img {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        object-fit: cover;
      }

      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
      }
    }

    .close-btn {
      width: 16px;
      cursor: pointer;
      position: absolute;
      top: 40px;
      right: 16px;
    }

    .contact-info {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .contact-item {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .contact-type {
          color: #6e6e6e;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
        }

        .contact {
          font-weight: 400;
          font-size: 20px;
          line-height: 22px;
          text-decoration: none;
        }
      }

      .telegram-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
        border-radius: 100px;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        background-color: #000;
        text-decoration: none;
        color: #fff;
      }
    }
  }

  @media (max-width: 1000px) {
    display: none;
  }
}
