@font-face {
  font-family: "GoogleSans";
  src: url("/src/assets/fonts/GoogleSans-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "ProductSans-Bold";
  src: url("/src/assets/fonts/ProductSans-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

a {
  text-decoration: none;
}

html {
  scrollbar-width: thin;
  overflow-y: scroll;
  // scrollbar-gutter: stable; // подумать как применить правильно
}

body {
  font-family: "GoogleSans", sans-serif;
}

video {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
