@font-face {
  font-family: "GoogleSans";
  src: url("/src/assets/fonts/GoogleSans-Regular.ttf") format("truetype");
  // font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GoogleSans", sans-serif;
}
