.header {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  background: white;
  transition: transform 0.2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &.hidden {
    transform: translateY(-100%);
  }

  &.visible {
    transform: translateY(0);
  }

  .logo {
    // font-family: 'Product Sans Black', sans-serif;
    // @font-face {
    //   font-family: "ProductSans";
    //   src: url("/src/assets/fonts/ProductSans-Black.ttf") format("truetype");
    //   font-weight: normal;
    //   font-style: normal;
    // }

    font-weight: 900;
    font-size: 28px;
    line-height: 24px;
    z-index: 101;
  }

  nav ul {
    display: flex;
    gap: 48px;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    position: relative;
    padding-bottom: 6px;
    transition: color 0.5s ease;
  }

  nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  nav ul li a:hover::after {
    opacity: 1;
  }

  nav ul li a:hover {
    color: #000;
  }

  @media (max-width: 1000px) {
    .main-menu {
      display: none;
    }
  }

  @media (min-width: 480px) and (max-width: 1000px) {
    height: 100px;
    padding: 0 24px;
  }

  @media (min-width: 360px) and (max-width: 480px) {
    height: 80px;
    padding: 0 16px;

    .main-menu {
      display: none;
    }

    .logo {
      font-weight: 900;
      font-size: 24px;
      line-height: 20px;
      z-index: 101;
    }
  }

  @media (max-width: 360px) {
    height: 80px;
    padding: 0 16px;

    .main-menu {
      display: none;
    }

    .logo {
      font-weight: 900;
      font-size: 24px;
      line-height: 20px;
      z-index: 101;
    }
  }
}
