/* =====================  BurgerMenu  ===================== */

.burger-overlay {
  position: fixed;
  inset: 0;
  z-index: 9;
  background: transparent;
  overflow: hidden; 
  touch-action: none
}

.burger-overlay .menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  touch-action: none;
}

/* =====================  кнопка-гамбургер  ===================== */

.burger-menu {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 999;

  .burger-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;

    img {
      width: 40px;
      height: 40px;
    }

    .closeMenu {
      width: 28px;
      height: 28px;
    }
  }

  /* ============ адаптив для кнопки ============ */
  @media (max-width: 480px) {
    top: 20px;
    right: 16px;
  }

  @media (min-width: 1001px) {
    display: none;
  }
}

/* =====================  список ссылок  ===================== */

.menu ul {
  margin-top: 132px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 0;
      transition: width 0.3s ease;
    }

    &::before {
      left: 0;
      background: transparent;
      transition: none;
    }
    &::after {
      right: 0;
      background: #000;
    }

    &:hover {
      &::before {
        width: 100%;
        background: #000;
      }
      &::after {
        width: 100%;
        background: transparent;
        transition: none;
      }
    }
  }
}

/* =====================  адаптив для меню  ===================== */

@media (min-width: 360px) and (max-width: 480px) {
  .menu {
    padding: 16px;

    ul {
      margin-top: 92px;

      li a {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
}

@media (max-width: 360px) {
  .menu {
    padding: 16px;

    ul {
      margin-top: 96px;

      li a {
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
}



