.video-container {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    width: 100%;
    will-change: transform;
  }

  @media (max-width: 1000px) {
    margin-top: 100px;
  }

  @media (max-width: 480px) {
    margin-top: 80px;
  }
}

.main-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 148px;
    padding: 72px 48px 0 48px;
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;

    .about-section {
      display: flex;
      flex-direction: column;
      gap: 148px;
      background-color: white;
      color: black;
    }

    .info-section {
      display: flex;
      flex-direction: column;
      gap: 228px;
      background-color: black;
      color: white;
      margin: 0 -48px;
      padding: 72px 48px 48px 48px;
    }

    .info-conteiner {
      display: flex;

      .section-title {
        flex: 0 1 870px;

        a {
          text-decoration: none;
          display: inline-flex;
          align-items: center;
          gap: 4px;
          transition: color 0.3s ease;
        }

        img {
          transition: transform 0.3s ease;
        }
      }

      .section-title a:hover img {
        transform: translateX(6px);
      }

      .section-content {
        flex: 0 0 600px;
      }

      .numbers {
        display: flex;
        flex-wrap: wrap;
        row-gap: 56px;
        column-gap: 72px;

        .number {
          width: 210px;
          height: 170px;

          span {
            font-size: 86px;
            line-height: 106px;
          }

          p {
            font-size: 28px;
            line-height: 36px;
          }
        }
      }
    }

    @media (max-width: 1440px) {
      .info-conteiner {
        .section-title {
          flex: 0 1 710px;
        }

        .section-content {
          flex: 0 0 600px;
        }
      }
    }

    @media (max-width: 1200px) {
      gap: 138px;

      .info-section {
        gap: 218px;
      }

      .about-section {
        gap: 138px;
      }
    }
  }

  @media (max-width: 1000px) {
    .container {
      padding: 6vw 2.4vw 0 2.4vw;
      gap: 12.8vw;
      font-size: 3.21vw;
      line-height: 4.7vw;

      .about-section {
        gap: 12.8vw;
      }

      .info-section {
        gap: 18vw;
        margin: 0 -2.4vw;
        padding: 6vw 2.4vw 2.4vw 2.4vw;
      }

      .info-conteiner {
        .section-title {
          flex: 0 1 40.4vw;

          img {
            width: 3.6vw;
          }
        }

        .section-content {
          flex: 1 0 56.8vw;
        }

        .numbers {
          column-gap: 3.8vw;
          row-gap: 5.6vw;

          .number {
            width: 21vw;
            height: 14vw;

            span {
              font-size: 7.4vw;
              line-height: 8vw;
            }

            p {
              font-size: 2.4vw;
              line-height: 3vw;
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .container {
      gap: 18.4vw;
      font-size: 5.6vw;
      line-height: 8vw;
      padding: 40px 16px 0 16px;

      .about-section {
        gap: 18.4vw;
      }

      .info-section {
        margin: 0 -16px;
        gap: 25vw;
        padding: 40px 16px 16px 16px;
        line-height: 7.6vw;
      }

      .info-conteiner {
        flex-direction: column;
        gap: 2.5vw;

        .section-title {
          flex: 0;

          img {
            width: 6.7vw;
          }
        }

        .section-content {
          flex: 0;
        }

        .numbers {
          column-gap: 12.5vw;
          row-gap: 5.85vw;

          .number {
            width: 33.4vw;
            height: 26.66vw;

            span {
              font-size: 15vw;
              line-height: 15.85vw;
            }

            p {
              font-size: 4.39vw;
              line-height: 5vw;
            }
          }
        }
      }
    }
  }

  @media (max-width: 360px) {
    .container {
      gap: 18.4vw;
      font-size: 5.6vw;
      line-height: 8vw;
      padding: 32px 16px 0 16px;

      .about-section {
        gap: 18.4vw;
      }

      .info-section {
        gap: 25.55vw;
        padding: 32px 16px 16px 16px;
        line-height: 7.6vw;
      }

      .info-conteiner {
        flex-direction: column;
        gap: 2.5vw;

        .section-title {
          flex: 0;

          img {
            width: 6.7vw;
          }
        }

        .numbers {
          column-gap: 12.5vw;
          row-gap: 5.85vw;

          .number {
            width: 33.4vw;
            height: 26.66vw;

            span {
              font-size: 15vw;
              line-height: 15.85vw;
            }

            p {
              font-size: 4.39vw;
              line-height: 5vw;
            }
          }
        }
      }
    }
  }
}
